<html>
	<head>
		<title>Employee Skill Management</title>
	</head>
	<body><br><br>
<div class="container">
	<header>
			<ul>
					<li><a href="default.asp">Home</a></li>
					<li><a href="news.asp">News</a></li>
					<li><a href="contact.asp">Contact</a></li>
					<li><a href="about.asp">About</a></li>
				  </ul>
	<div>
		<a class="button_1"><input type="button" value="Login" onclick="loginPage()"></a>
		<a class="button_2"><input type="button" value="Register" onclick="registerPage()"></a>
		<a class="button_3"><input type="button" value="Employee" onclick="employeePage()"></a>
	</div>
</header>
	<br><br><br>
		<div class="col-4">
			<div class="row-4">
					<p>
							<b>Skill Tracker for Employers</b><br>
							Skills-Tracker for Employers
							Make sure you are getting the best from your apprentices and trainees.
							
							A high performing employee delivers:
							
							Better value for your business
							Someone you can trust
							An asset to the industry
					</p>
			</div>
		</div>
		<div class="col-4">
			<div class="row-4">
				<p><br><br>
					<b>Skill-Tracker for Trainer</b><br>
					All your trainees work experience records in one place
					Skills-Tracker helps Vocational Trainers, Registered Training Organisations 
					and Employers deliver competency based training. 
					It plays a vital role in helping to clearly show 
					the workplace experience a trainee is gaining.
				</p>
			</div>
		</div>
		<div class="col-4">
				<div class="row-4">
					<p><br><br>
						<b>Skill-Tracker for Student</b><br>
						Skills-Tracker online log book system helps ensure you are getting the right experience.
						Skills-Tracker is fast, simple to use and provides a permanent record of your experience. It also replaces the need for a paper log book. 
						It is accessible by you, your supervisor and your trainer.
					</p>
				</div>
		</div>
	</div>
	</body>
</html>